@use './variables' as v;
@import url('./main.scss');
body{
    background: v.$dark-color;
    color: v.$light-color;
    font-family: 'Roboto';
}
.container{
    width: 1200px;
    margin: 0 auto; 
    padding-top: 30px;
}
.overlay{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background: #000;
    opacity: .5;
}