@use '../../sass/variables' as v;
.CredentialsForm{
    margin: 0 auto;
    width: 400px;
    &-btn{
        width: 80px;
        height: 40px;
    }
    label{
        font-family: Oswald;
        color: rgb(8, 1, 26);
        font-size: 17px;
        font-weight: 700;

    }
    input{
        width: 85%;
        outline: none;
        border: 1px solid black;
        display: block;
        margin-bottom: 10px;
    }
    &-sidebar{
        position: absolute;
        top:0;
        right: -40px;
        width:50px;
        background: v.$light-color;
        font-family: Oswald;
        color:aliceblue;
        font-size: 25px;
        height: 100%;
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s all ease;
    }
    &-tabs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        &-item{
            width: 50%;
            margin-left: 30px;
            margin-right: 30px;
            font-family: Oswald;
            color: rgb(8, 1, 26);
            font-size: 23px;
            font-weight: 700;
            padding-bottom: 5px;
            text-align: center;
            transition: .3s all ease ;
            user-select: none;
            &:hover{
                cursor: pointer;
                color: v.$light-color;
            }
        }
        
        .active{
            border-bottom: 2px solid rgb(48, 5, 83);
            &:hover{
                border-bottom: 2px solid v.$light-color;
            }
        }
    }
}